canvas#gasChart {
    max-width: 600px;
    max-height: 400px;
}

canvas#utilityChart {
    max-width: 600px;
    max-height: 400px;
}

canvas#expenseChart {
    max-width: 600px;
    max-height: 400px;
}
