<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Expense Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>
<body>
    <div id="title">
        <h1>Personal Expense Tracker</h1>
    </div>

    <div id="sidebar">
        <a href="{{url_for('routes.home')}}">Dashboard</a>
        <a href="{{url_for('routes.add_utilities')}}">Utilities</a>
        <a href="{{url_for('routes.add_expense')}}">Add Expense</a>
        <a href="{{url_for('routes.add_gas')}}">Gas</a>
    </div>

    

</body>
</html>